:root {
    --dark     : #000;
    --light    : #eee;
    --primary  : #672221;
    --secondary: #f6f6f6;
    --grey     : #797575;
    font-size  : 12px;

}

html {
    scroll-behavior: smooth;
}

body {
    position   : relative;
    font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira', sans-serif;
}

p {
    font-size: 1.2rem;
}

@media (min-width: 720px) {
    :root {
        font-size: 16px;
    }

    .w-md-100 {
        width: 100% !important;
    }

}