/* CTA */

.cta {
    background: var(--secondary);
    padding   : 3rem 0;
}

.cta__content {
    background     : url('../img/bg-cta.png') no-repeat center center;
    background-size: contain;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    padding        : 5rem 2rem;
}

.cta__title {
    color      : var(--light);
    font-size  : 2rem;
    font-weight: bold;
}

.cta__styled-title-component {
    font-weight: normal;
    display    : block;
}

.cta__subtitle {
    color: var(--light);
}

.cta__button {
    border-radius: 2rem;
    border-width : 0.2rem;
    color        : var(--light);
    border-color : var(--light);
    display: flex;
    justify-content: space-between;
}

.cta__icon {
    background: url('../img/whatsapp-icon.svg') no-repeat center center;
    background-size: contain;
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

@media (min-width: 720px) {
    .cta {
        background: url('../img/bg-cta.png') no-repeat center center;
        background-size: cover;
        padding   : 7rem 0;
    }

    .cta__content {
        background: transparent;
    }
}