/* Customers */

.customers {
    padding: 3rem 0;
}

.customers__title {
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.customers__subtitle {
    color: var(--secondary);
    font-size: 1.5rem;
    text-align: center;
    margin: 0 1rem;

}

.customers__container {
    background: var(--dark);
    min-height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.customers__container_background-1 {
    background: url('../img/bg-solution-1.png') no-repeat center center;
    background-size: cover;
}


.customers__container_background-2 {
    background: url('../img/bg-solution-2.png') no-repeat center center;
    background-size: cover;
}

.customers__container_background-3 {
    background: url('../img/bg-solution-3.png') no-repeat center center;
    background-size: cover;
}

.customers__secondary-title {
    color: var(--light);
    font-size: 2rem;
    font-weight: bold;
    width: 50%;
    text-align: center;
}

@media (min-width: 720px) {
    .customers__subtitle {
        font-size: 1.8rem;
    
    }
}