/* Customers */

.customers {
    padding: 3rem 0;
}

.customers__title {
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.customers__subtitle {
    color: var(--grey);
    font-size: 1.5rem;
    text-align: center;
    margin: 0 1rem;

}

.customers__container {
    background: var(--dark);
    min-height: 30rem;
    margin: 3rem 0;
    padding: 1.2rem;
}

.customers__container_background-1 {
    background: url('../img/bg-solution-1.png') no-repeat center center;
    background-size: cover;
}


.customers__container_background-2 {
    background: url('../img/bg-solution-2.png') no-repeat center center;
    background-size: cover;
}

.customers__container_background-3 {
    background: url('../img/bg-solution-3.png') no-repeat center center;
    background-size: cover;
}

.customers__secondary-title {
    color: var(--light);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.customers__list-item {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.customers__list-item:hover {
    background: var(--light);
    color: var(--dark);
}


.carousel-control-next, .carousel-control-prev {
    opacity: 1;
}

.carousel-control-next, .carousel-control-next {
    opacity: 1;
}

.carousel-control-prev-icon {
    background-image: url('../img/arrow.svg');
    background-size: contain;
    transform: rotate(-90deg);
    height: 50px;
    width: 50px;
}

.carousel-control-next-icon {
    background-image: url('../img/arrow.svg');
    background-size: contain;
    transform: rotate(90deg);
    height: 50px;
    width: 50px;
}

@media (min-width: 720px) {
    .customers__subtitle {
        font-size: 1.8rem;
    
    }
}