/* Disclaimer */

.disclaimer__container {
    min-height: 10rem;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.disclaimer__illustration {
    margin: 1rem 0;
    background: url('../img/disclaimer-illustration.svg') no-repeat center center;
    background-size: contain;
    height: 10rem;
    width: 10rem;
}

.disclaimer__title {
    color: var(--primary);
    font-weight: bold;
    max-width: 15rem;    
    font-size: 2rem;
}

.disclaimer__subtitle {
    color: var(--secondary);
    font-size: 1.5rem;
}

@media (min-width: 720px) {
    .disclaimer__title {
        max-width: 100%;    
    }

    .disclaimer__subtitle {
        max-width: 35%;
        margin-top: 1rem;
        font-size: 1.8rem;
    }
}