/* Map */

.map {
    padding: 3rem 0;
}

.map__title {
    color      : var(--primary);
    font-size  : 2rem;
    font-weight: bold;
}

.map__subtitle {
    color: var(--grey);

}

.map__styled-subtitle-component {
    font-weight: bold;
}

.map__view {
    background: var(--primary);
    min-height: 20rem;
    overflow  : hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map__view iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}