/* Navbar */

.navbar-custom {
    background-color: var(--dark);
}


.navbar-dark .navbar-nav .nav-link {
    color: var(--light);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--grey);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url('../img/mobile-menu-icon.svg');
}
