/* Pillars */

.pillars {
    background: var(--secondary);
    padding: 3rem 0;
}

.pillars__title {
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
    
}

.pillars__secondary-title {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 2rem;
}

.pillars__subtitle {
    color: var(--grey);
}