:root {
    --dark: #000;
    --light: #fff;
    --primary: darkred;
    --secondary: #e4e4e4;
    --grey: #8b8888;
}

body {
    position: relative;
}

.navbar-custom {
    background-color: var(--dark);
}


/* Banner */

.banner__container {
    min-height: 40rem;
    max-width: 100%;
    padding: 6rem 0 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--dark);
    color: var(--secondary);
}

.banner__title {
    font-weight: bold;
    max-width: 10rem;
}

.banner__subtitle {
    font-size: 1.5rem;
    margin-top: 1.2rem;
    margin-right: 5rem;
}


/* Disclaimer */

.disclaimer__container {
    min-height: 10rem;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.disclaimer__illustration {
    margin: 3rem 0;
}

.disclaimer__title {
    color: var(--primary);
    font-weight: bold;
    max-width: 15rem;    
    font-size: 2rem;
}

.disclaimer__subtitle {
    color: var(--secondary);
    margin: 0 6rem;
    font-size: 1.5rem;
}

/* Pillars */

.pillars {
    background: var(--secondary);
    padding: 3rem 0;
}

.pillars__title {
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
    
}

.pillars__secondary-title {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 2rem;
}

.pillars__subtitle {
    color: var(--grey);
}

/* Customers */

.customers {
    padding: 3rem 0;
}

.customers__title {
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.customers__subtitle {
    color: var(--secondary);
    font-size: 1.5rem;
    text-align: center;
    margin: 0 6rem;

}

.customers__container {
    background: var(--dark);
    min-height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.customers__secondary-title {
    color: var(--light);
    font-size: 2rem;
    font-weight: bold;
    width: 50%;
    text-align: center;
}

/* CTA */

.cta {
    background: var(--secondary);
    padding: 3rem 0;
}

.cta__content {
    background: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 2rem;    
}

.cta__title {
    color: var(--light);
    font-size: 2rem;
    font-weight: bold;
}

.cta__styled-title-component {
    font-weight: normal;
    display: block;
}

.cta__subtitle {
    color: var(--light);
}

.cta__button {
    border-radius: 2rem;
    border-width: 0.2rem;
    color: var(--light);
    border-color: var(--light);
}

